/*background*/

body {
    background-color: #C9B2C2;
    margin: 0 auto;
}


.border_box {
    border-color: #F7D131;
    border-style: solid;
    border-width: 4px;
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -1.75rem;
    padding: 3rem 1rem 1rem 1rem;
}

/*fonts*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 600;
    line-height: 1;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 600;
    line-height: 1;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 400;
    padding: .3rem 0 .3rem 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    color: #3E3D3D;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 300;
    line-height: 1.35;
}

.white {
    color: white;
}

/*links*/

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #BC87AC;
    text-decoration: none;
}

a:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #BC87AC;
    text-decoration: none;
}

.topic {
    background-color: white;
    border-color: #A3869A;
    border-style: solid;
    border-width: 2px;
    margin: 0.6rem;
    border-width: 4px;
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0.45rem 1.6rem 0.2rem 1.6rem;
}

.topic:hover {
    margin: 0.6rem;
    border-width: 4px;
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0.45rem 1.6rem 0.2rem 1.6rem;
}

.sofa {
    margin: 0 .2rem 0 .2rem;
    width: 120px;
    height: 69.6px;
}

.image {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.caption {
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1.2rem;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}

/*Nav and burger menu*/

.container {
    display: inline-block;
    cursor: pointer;
    margin: .7px 0 0 1.7px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: #A3869A;
    margin: 6px 0;
    border-radius: 3px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #F7D131;
}

#left_menu {
    display: inline-block;
    align-content: center;
    list-style-type: none;
    margin-top: 0.3rem;
    margin-bottom: -3px;
}

#right_menu {
    display: inline-block;
    align-content: center;
    list-style-type: none;
    margin-top: 0.3rem;
    margin-bottom: -3px;
    margin-right: 1vw;
}

#menuknap {
    display: flex;
    z-index: 40;
    position: relative;
    top: 2vw;
    left: 6vw;
    background-color: white;
    border-color: #A3869A;
    border-style: solid;
    border-width: 2px;
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    width: 2rem;
}

nav {
    z-index: 30;
    height: 102vh;
    width: 100vw;
    background-color: #C9B2C2;
    /*    overflow: hidden;*/
    position: relative;
    top: -3.5rem;
    min-height: 450px;
}

#menu {
    display: grid;
    align-content: center;
    position: relative;
    top: 3.7rem;
    z-index: 50;
    margin: 0 auto;
    list-style-type: none;
}

ul {
    line-height: 200%;
    padding: 0rem;
    text-align: center;
}

li {
    padding: 1rem 0 0 0;
    z-index: 40;
}

#linkbox1,
#linkbox2,
#linkbox3 {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 92.5%;
    display: block;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: white;
    text-align: center;
}

footer {
    background-color: #C9B2C2;
    border-top-color: #A3869A;
    border-top-style: solid;
    border-top-width: 0.4rem;
    position: relative;
    padding: 1.2rem 2rem 1.3rem 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.some {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.allwork {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    color: #A3869A;
    margin-top: 1rem;
}

#instagram {
    padding: 1px 6px 0px 0;
}

#linkedin {
    padding: 1px 0 1.5px 6px;
}

#totop {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    color: #A3869A;
    position: relative;
    top: 0.5rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 680px) {
    .hidden {
        display: none;
    }
}


@media only screen and (min-width: 680px) {

    .border_box {
        border-color: #F7D131;
        border-style: solid;
        border-width: 4px;
        margin-bottom: -113px;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        margin-top: 0rem;
        padding: 3rem 1rem 1rem 1rem;
        position: relative;
        top: -109px;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    #myheader {
        z-index: 60;
    }

    nav {
        z-index: 60;
        height: 150px;
        background: transparent;
        /*        overflow: hidden;*/
        min-height: 0px;
    }

    #menuknap {
        display: none;
    }

    li {
        padding: 0rem 0.1rem 0rem 0.1rem;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem 0rem 2rem;
        list-style-type: none;
        position: relative;
        top: 3.8rem;
    }

    .sofa {
        width: 100px;
        height: 58px;
    }

    .topic {
        margin: 0rem 0.2rem 0rem 0.2rem;
        padding: 0.45rem 0.8rem 0.2rem 0.8rem;
        border-width: 2.5px;
    }

    .topic:hover {
        padding: 0.55rem 0.9rem 0.3rem 0.9rem;
    }

    #left_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #right_menu {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .sofa:hover {
        transform: scale(1.12);
    }

    .caption {
        margin-top: 0.55rem;
    }

    #linkbox1,
    #linkbox2,
    #linkbox3 {
        width: 97%;
    }

    footer {
        padding: 1.2rem 4rem 1.3rem 4rem;
    }


}




















/*    space*/
