/*background*/

body {
    background-color: #C9B2C2;
    margin: 0 auto;
}

.border_box {
    border-color: #F7D131;
    border-style: solid;
    border-width: 4px;
    margin-bottom: -0.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: -3rem;
    padding: 3rem 1rem 1rem 1rem;
}

/*fonts*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 600;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 600;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #F7D131;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 400;
    padding: .3rem 0 .3rem 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #3E3D3D;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 300;
    line-height: 1.35;
}


.white {
    color: white;

}

/*links*/

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #BC87AC;
    text-decoration: none;
}

a:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #BC87AC;
    text-decoration: none;
}

.topic {
    background-color: white;
    border-color: #A3869A;
    border-style: solid;
    border-width: 2px;
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0.45rem 0.8rem 0.2rem 0.8rem;
}

/*Nav*/

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    list-style-type: none;
}

li {
    padding: 0rem 0.1rem 0rem 0.1rem;
    z-index: 40;
}

.left_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0.3rem;

}

#linkbox {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 97%;
    display: block;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: white;
    text-align: center;
}

.right_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0.3rem;
}

#menu {
    list-style-type: none;
}


#menuknap {
    display: none;
}

footer {
    background-color: #C9B2C2;
    border-top-color: #A3869A;
    border-top-style: solid;
    border-top-width: 0.4rem;
    position: relative;
    padding: 1.5rem 6rem 2rem 6rem;
    display: flex;
    justify-content: center;
}


/***********mobile***********/

@media (max-width: 680px) {

    h3 {
        font-size: 1.9rem;
    }

    /*********burgermenu*********/

    nav {
        z-index: 30;
        height: 102vh;
        width: 100vw;
        background-color: #C9B2C2;
        overflow: hidden;
        position: relative;
        top: -3.5rem;
    }

    #menuknap {
        display: flex;
        text-align: center;
        color: #A3869A;
        z-index: 40;
        font-size: 2.3rem;
        position: relative;
        top: 1vw;
        left: 6vw;
        background-color: white;
        border-color: #A3869A;
        border-style: solid;
        border-width: 2px;
        margin: 0rem 0.2rem 0rem 0.2rem;
        padding: 0rem 0.5rem 0.1rem 0.5rem;
        width: 2rem;
    }

    ul {
        line-height: 200%;
        padding: 2rem;
        text-align: center;
    }

    #menu {
        display: grid;
        align-content: center;
        position: relative;
        top: 5rem;
        left: 15vw;
        z-index: 50;
        margin: 0 auto;
    }

    li {
        padding: 1rem 0 0 0;
    }

    .topic {
        margin: 0.6rem;
        border-width: 4px;
        /*        padding: 0rem 2rem 0rem 2rem;
        */
        margin: 0rem 0.2rem 0rem 0.2rem;
        padding: 0.45rem 1.6rem 0.2rem 1.6rem;
    }

    .left_menu {
        display: inline-block;
        align-content: center;
    }

    .right_menu {
        display: inline-block;
        align-content: center;
    }

    .sofa {
        width: 120px;
    }


    /*Classes til brug i js*/

    .hidden {
        display: none;
        transform: translateX(-10%);

        /*
        transition: .15s ease;
*/
    }

    .border_box {
        border-color: #F7D131;
        border-style: solid;
        border-width: 4px;
        margin-bottom: -0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1.75rem;
        padding: 3rem 1rem 1rem 1rem;
    }

    footer {
        padding: 1.5rem 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
    }


    #linkbox {
        width: 92.5%;
    }
}






















/*    space*/
