body {
    background-image: url(images/splash_2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: center;
}


.border_box {
    height: 100vh;
}

h1 {
    font-size: 9rem;
    line-height: 7.1rem;
    text-align: center;
    position: relative;
    top: 8.5vh;
    right: -15vw;
    transform: rotate(352deg);
}

/*flyvende pizza*/

#pizza_slices {
    position: absolute;
    top: -15vw;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#pizza_container0 {
    position: absolute;
}

#pizza_sprite0 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 6rem;
    height: 6.43rem;
    cursor: pointer;
}

#pizza_container1 {
    position: absolute;
}

#pizza_sprite1 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 6rem;
    height: 6.43rem;
    cursor: pointer;
}

#pizza_container2 {
    position: absolute;
}

#pizza_sprite2 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 5rem;
    height: 5.36rem;
    z-index: 20;
    cursor: pointer;
    position: absolute;
}

#pizza_container3 {
    position: absolute;
}

#pizza_sprite3 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 5rem;
    height: 5.36rem;
    z-index: 20;
    cursor: pointer;
    position: absolute;
}

#pizza_container4 {
    position: absolute;
}

#pizza_sprite4 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 4rem;
    height: 4.29rem;
    z-index: 20;
    cursor: pointer;
    position: absolute;
}

#pizza_container5 {
    position: absolute;
}

#pizza_sprite5 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 4.5rem;
    height: 4.71rem;
    z-index: 20;
    cursor: pointer;
    position: absolute;
}

#pizza_container6 {
    position: absolute;
}

#pizza_sprite6 {
    background-image: url(images/pizza.png);
    background-size: cover;
    width: 6.5rem;
    height: 6.96rem;
    z-index: 20;
    cursor: pointer;
    position: absolute;
}


/******* ANIMATIONS *******/

.frys {
    animation-play-state: paused;
}

.fald {
    animation: fald_kf;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fald_kf {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(140vh) rotate(360deg);
    }
}

.forsvind {
    animation-name: forsvind_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes forsvind_kf {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(0);
    }
}


/************ DELAYS *************/

.delay0 {
    animation-delay: 2.5s;
    top: -8vw;
    left: 10vw;
}

.delay1 {
    animation-delay: 1.5s;
    top: -8vw;
    left: 17vw;
}

.delay2 {
    animation-delay: .5s;
    top: -8vw;
    left: 29vw;
}

.delay3 {
    animation-delay: 2s;
    top: -8vw;
    left: 38vw;
}

.delay4 {
    animation-delay: 0s;
    top: -8vw;
    left: 47vw;
}

.delay5 {
    animation-delay: 1.2s;
    top: -8vw;
    left: 88vw;
}

.delay6 {
    animation-delay: 3s;
    top: -8vw;
    left: 58vw;
}



@media only screen and (max-width: 680px) {

    .fald {
        animation: fald_kf;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes forsvind_kf {
        0% {
            transform: scale(1);
        }

        30% {
            transform: scale(2.5);
        }

        100% {
            transform: scale(0);
        }
    }

    .delay0 {
        animation-delay: 2.5s;
        top: -8vw;
        left: 10vw;
    }

    .delay1 {
        animation-delay: 1.5s;
        top: -8vw;
        left: 17vw;
    }

    .delay2 {
        animation-delay: 3s;
        top: -8vw;
        left: 29vw;
    }

    .delay3 {
        animation-delay: 2s;
        top: -8vw;
        left: 38vw;
    }

    .delay4 {
        animation-delay: 0s;
        top: -8vw;
        left: 47vw;
    }

    .delay5 {
        animation-delay: 1.2s;
        top: -8vw;
        left: 88vw;
    }

    .delay6 {
        animation-delay: 3.5s;
        top: -8vw;
        left: 58vw;
    }




    h1 {
        font-size: 5.5rem;
        line-height: 5.1rem;
        text-align: center;
        position: relative;
        top: 3vh;
        right: -6vw;
        transform: rotate(352deg);
    }

    #pizza_slices {
        position: absolute;
        top: -25vw;
        width: 100%;
        height: 100%;
        z-index: 20;
    }



}


















/*space*/
