#indhold {
    background-color: #F7D131;
    color: white;
}


h1 {
    font-size: 15vw;
}


h2 {
    font-size: 8vw;
}

h3 {
    margin-bottom: 1.2rem;
}

h4 {
    margin-bottom: 0.8rem;
}

p {
    margin-bottom: 0.3rem;
}

.headline {
    padding: 1vw 0 0 2.9vw;
}

.beskrivelse {
    max-width: 900px;
    padding: 1vw 0 0 2.9vw;
    margin: 0 8rem 2rem 1rem;
}
